<section id="experience" class="experience">
    <div class="container">
        <h2>My Professional Experience</h2>
        <div class="experience-item">
            <h3>Software Engineer Intern</h3>
            <h4>Telkomsel | South Jakarta</h4>
            <p class="date">Feb 2024 - Jun 2024</p>
            <ul>
                <li>Developed and maintained a robust **Node.js boilerplate project** for various applications.</li>
                <li>Designed and implemented scalable **microservices** (REST, gRPC, GraphQL) using **NestJS** framework.</li>
                <li>Applied **Test-Driven Development (TDD)** with **Jest** for high code quality.</li>
                <li>Implemented centralized configuration with **Consul** and integrated modules for logging and communication.</li>
                <li>Ensured data integrity with **DTOs** and efficient persistence using **TypeORM**.</li>
                <li>Established **CI/CD pipelines** for automated testing and deployment.</li>
                <li>Configured **OpenTelemetry, Zipkin, and Grafana** for comprehensive application monitoring.</li>
            </ul>
        </div>
    </div>
</section>