<section class="projects" id="projects">
    <h2>My Projects</h2>
    <div class="project-grid">
        <div class="project-card">
            <h3>Dynamic Weather Insights</h3>
            <p>Real-time weather API service with a responsive frontend for low-latency data delivery.</p>
            <div class="badges">
                <span class="badge">HTML</span>
                <span class="badge">CSS</span>
                <span class="badge">JAVASCRIPT</span>
            </div>
            <a href="https://rizkyriyadi.github.io/weather-project/" class="link-button" target="_blank">View Project</a>
        </div>
        <div class="project-card">
            <h3>CRUD Golang REST API</h3>
            <p>Scalable REST API for efficient CRUD operations with optimized data management.</p>
            <div class="badges">
                <span class="badge">Golang</span>
                <span class="badge">GORM</span>
                <span class="badge">REST API</span>
            </div>
            <a href="https://github.com/rizkyriyadi/aqua-farm" class="link-button" target="_blank">View Project</a>
        </div>
    </div>
</section>